/* Estilos visuales para la app */
body {
    font-family: 'Cinzel', serif;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-position: center;
    background-size: cover;
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 12px;
    
  }
  
  .container {
    text-align: center;
    max-width: 600px;
    padding: 30px;
    margin: 30px;
    background: linear-gradient(to bottom, #272727, #0d0d0d);
    border: 1px solid #2c2c2c;
    border-radius: 20px;
    background-size: auto;
    border-image: linear-gradient(45deg, #000000, #8b8b8b, #ffffff) 1;
}
  
  
  
  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    padding: 0px;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    background-color: #272727;
    color: #dadada;
  }
  
  .fire-btn {
    font-family: 'Cinzel', serif;
    padding: 10px 25px;
    font-size: 18px;
    background-color: #535353;
    color: #fff;
    border: 1px solid #fff;
    border-image: linear-gradient(45deg, #4d4d4d, #8b8b8b, #ffffff) 1;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s;
  }
  
  .fire-btn::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgb(255, 166, 0) 0%, transparent 70%);
    animation: flames 1.2s infinite linear;
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
  }
  
  .fire-btn:hover::before {
    opacity: 1;
  }
  
  .fire-btn:hover {
    background-color: #ff631a;
    color: #ffffff;
  }
  
  .spark {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #ffcc00;
    border-radius: 50%;
    animation: spark-move 0.6s linear forwards;
    z-index: 999;
  }
  
  @keyframes spark-move {
    0% { opacity: 1; transform: translate(0, 0) scale(1.3); }
    100% {
      opacity: 0;
      transform: translate(calc(-50px + 400px * var(--rand-x)), calc(-50px + 400px * var(--rand-y))) scale(0);
    }
  }



  @keyframes flames {
    0% { transform: scale(1) rotate(0deg); }
    50% { transform: scale(1.1) rotate(5deg); }
    100% { transform: scale(1) rotate(0deg); }
  }
  
  #outputText {
    margin-top: 20px;
    font-family: 'Cinzel', serif;
    font-size: 22px;
    background-color: transparent;
    padding: 0px;
    border-radius: 5px;
    opacity: 0;
    color: #d1d1d1;
    transition: opacity 0.8s ease;
    font-weight: lighter;
  }
  #outputText.mostrar {
    opacity: 1;
  }

  .desconocida { /*Colro de la palabra que no esta en el diccionario del alto valyrio*/
    color: rgb(88, 88, 88);
    font-family: 'Cinzel', serif;
    font-weight: lighter;
  }
  
  .footer {
    background-color: #000;
    color: #aaa;
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  .footer a {
    color: #e50914;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: none;
  }


  /*ESTILO DE TEXTO DE ADVERTENCIA*/
  #outputText .aviso {
    font-size: 12px;
    color: #ff9999;
    margin-top: 10px;
    display: block;
    font-style: italic;
  }